*{
    font-family: "Roboto", sans-serif;
}
.logo{
    width: 100px;
    height: 100px;
}

.main-nav{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    max-width: 50%;
}
.main-nav a{
    text-decoration: none;
    
}
.main-nav li{
    list-style-type: none;
}
.main-nav a:hover{
    border-bottom: 1px solid red;
}

h1, h2,h3, h4{
    font-family: "Electrolize", sans-serif;
    color: blue;
}
.featured-text {
    text-align: center;
}
article{
    width: 30%;
    height: 100%;
    padding:0px;
    border: 2px solid black;
}
.box{
    width: 100%;
    display: flex;
    justify-content: right;
    min-height: 35vh;
    align-items: start;
    margin-bottom: 20px;
}
.article-flex{
    width: 25%;
    height: 100%;
    border: 2px solid rgb(0, 0, 255) ;
    background-color: rgb(193, 182, 182);
    transition: 100ms;
    display:flex;
    flex-direction: column;
    align-content:center;
    justify-content: space-between;
}
aside{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 30%; 
    height: 100%;
}
aside p{
text-align: center;
font-weight: bold;
}
aside li{
    list-style-type: none;
    margin-bottom: 20px;
    align-content: center;
}
.box h4:hover {
background-color:yellow
}
.box2{
    display:flex;
    justify-content: right;
    background-size:cover;
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(255, 0, 0, 0.469), rgba(255, 255, 0, 0.518)), url(https://picsum.photos/2000/1000)
}
.img-leggi-anche{
    max-width: 100%;
    max-height: auto;
}
.top-button{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 10px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


@media screen and (max-width: 600px){

.top-button {
    width: 25px;
    height: 25px;
}
}
